* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}


body {
    height: 90vh;
    background-color: #F5F2E9;
    color: #DDDDDD;

    display: flex;
    align-items: center;
    justify-content: center;
}




#calculator {
    border-radius: 0.5rem;

    box-shadow: 0px 0px 20px 6px rgba(#4E4E4E, 25%);
    background-color: #4E4E4E;
    overflow: hidden;

    .display {
        padding: 0.5rem 1rem 0.5rem 0.5rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .wrapper {
            display: flex;
            gap: 0.3rem;

            div {
                width: .563rem;
                height: .563rem;
                border-radius: 50%;
            }
            
            .red-circle {
                background-color: #EE5C54;
            }
    
            .yellow-circle {
                background-color: #F8BC45;
            }
    
            .green-circle {
                background-color: #5ECB42;
            }
        }

        output {
            margin-top: 0.5rem;
            font-size: 3.25rem;
            color: #9DA0B8;
        }
    }    




    #keyboard {
        width: 300px;
        height: 400px;

        display: grid;
        gap: 1px;
        grid-template-columns: repeat(4, 1fr);

        .grid-col {grid-column: span 3;}

        button {
            padding: 0.5rem;
            border: none;
            font-size: 1.25rem;
            color: #DDDDDD;
            cursor: pointer;
            background-color: #6D6D6D;
            

            display: flex;
            align-items: center;
            justify-content: center;
        }

        button:hover {
            box-shadow: inset 0px 0px 50px 6px rgba(0 0 0 / 10%);
        }
        
        .bg-orange {
            background-color: #F0A04B;
            font-weight: 900;
        }
    }
}