* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}


html {
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 90vh;
    background-color: #F5F2E9;

    display: flex;
    align-items: center;
    justify-content: center;
}


#calculator {
    touch-action: none;
    border-radius: 0.5rem;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: #4E4E4E;
    overflow: hidden;

    .display { 
        display: flex;
        flex-direction: column;

        .one {
            padding: 0.5rem;
            display: flex;
            gap: 0.5rem;

            div {
                width: .75rem;
                height: .75rem;
                border-radius: 50%;
            }
            
            .red-circle {
                background-color: #EE5C54;
            }
    
            .yellow-circle {
                background-color: #F8BC45;
            }
    
            .green-circle {
                background-color: #5ECB42;
            }
        }

        .two {
            height: 4rem;
            display: flex;
            justify-content: right;
            
            output {
                height: 100%;
                width: fit-content;
                padding: 0 1rem 0 0.25rem;
                font-size: 2.75rem;
                color: #9DA0B8;
                
                display: flex;
                align-items: center;
            }
        }
    }    

    
    #keyboard {
        width: 350px;
        height: 450px;

        display: grid;
        gap: 1px;
        grid-template-columns: repeat(4, 1fr);

        .grid-col {grid-column: span 2;}

        button {
            padding: 0.5rem;
            border: none;
            font-size: 1.25rem;
            color: #DDDDDD;
            cursor: pointer;
            background-color: #6D6D6D;
            

            display: flex;
            align-items: center;
            justify-content: center;
        }

        button:active { 
            box-shadow: inset 0px 0px 50px 6px rgba(0 0 0 / 20%);
        }
        
        .bg-orange {
            background-color: #F0A04B;
        }
    }
}

.small-font {
    font-size: 1.25rem !important
}

@media screen and (max-width: 320px) {
    body {
        height: 100%;

        #calculator {
            border-radius: 0;
            overflow: initial;
            width: 100%;
            
            #keyboard {
                width: 100%;
            }
        }
    }  
}
